<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>evera</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>

</head>
<body>
    <body class="bg-cover bg-top bg-no-repeat"
      style="background-image: url('/static/bg.png'); background-attachment: scroll;">

      <!-- navbar -->
      <nav class="fixed top-0 left-0 w-full bg-white bg-opacity-5 backdrop-blur-md shadow-md py-4 px-8 flex justify-between items-center text-white z-50">
        <h1 class="text-2xl font-bold">Evera</h1>
        <ul class="hidden md:flex space-x-6">
            <li><a href="#about" class="hover:text-gray-300">About Us</a></li>
            <li><a href="#features" class="hover:text-gray-300">Features</a></li>
            <li><a href="/signin" class="hover:text-gray-300">Login</a></li>
        </ul>
        <button class="md:hidden text-white focus:outline-none" id="menu-button">☰</button>
    </nav>

    <!-- herosec -->
    <section class="min-h-screen flex items-center justify-start px-6 relative">
        <div class="text-left text-white max-w-4xl min-h-[600px] p-20 glass">
            <h1 class="text-7xl font-bold mt-32">Track. Analyze. Offset</h1>
            <p class="mt-4 text-xl">  Building a Greener, Smarter Supply Chain - One Step at a Time</p>
            <button class="mt-6 px-6 py-3 bg-green-800 text-white font-semibold rounded-lg shadow-md hover:bg-green-900 transition">
                <a href="/calculate">Calculate Emissions</a>
            </button>
        </div>
    </section>

    <!-- aboutus section -->
    <section id="about" class="min-h-screen flex flex-col justify-center items-end text-white px-8 relative">
        <div class="absolute top-20 right-16 max-w-2xl">
            <br><br>
            <h2 class="text-6xl font-bold text-right">About Us</h2>
            <p class="mt-4 text-lg text-gray-300 text-right">
                Evera is a Sustainability-first platform focused on Transforming the Future of Logistics. We help businesses Track, Visualise, and Analyze their Carbon Emissions within Supply Chains -  combining Innovation and Technology
            </p>
            <br>
            <br><br><br><br>
            <h2 class="text-6xl font-bold text-right">Our Mission</h2>
            <p class="mt-4 text-lg text-gray-300 text-right">
                Our Mission is to make sustainability measurable, accessible and actionable for every supply chain. Through data driven insights and dashboards, we empower companies toreduce their environmental impact and pave the way towards net zero logistics.
            </p>
        </div>
        
    </section>



</body>
</html>